<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShowEmpServlet</servlet-name>
        <servlet-class>ServletsPack.ShowEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmpServlet</servlet-name>
        <servlet-class>ServletsPack.AddEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmp</servlet-name>
        <servlet-class>ServletsPack.AddEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelEmp</servlet-name>
        <servlet-class>ServletsPack.DelEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdEmp</servlet-name>
        <servlet-class>ServletsPack.UpdEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDept</servlet-name>
        <servlet-class>ServletsPack.ShowDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelDept</servlet-name>
        <servlet-class>ServletsPack.DelDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDeptServlet</servlet-name>
        <servlet-class>ServletsPack.AddDeptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDept</servlet-name>
        <servlet-class>ServletsPack.AddDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdDept</servlet-name>
        <servlet-class>ServletsPack.UpdDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>ServletsPack.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeptSalary</servlet-name>
        <servlet-class>ServletsPack.DeptSalary</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowEmpServlet</servlet-name>
        <url-pattern>/ShowEmpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmpServlet</servlet-name>
        <url-pattern>/AddEmpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmp</servlet-name>
        <url-pattern>/AddEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelEmp</servlet-name>
        <url-pattern>/DelEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdEmp</servlet-name>
        <url-pattern>/UpdEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDept</servlet-name>
        <url-pattern>/ShowDept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelDept</servlet-name>
        <url-pattern>/DelDept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDeptServlet</servlet-name>
        <url-pattern>/AddDeptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDept</servlet-name>
        <url-pattern>/AddDept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdDept</servlet-name>
        <url-pattern>/UpdDept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeptSalary</servlet-name>
        <url-pattern>/DeptSalary</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
